span.glyphicon-play {
  font-size: 4em;
}

span.glyphicon-step-forward, span.glyphicon-step-backward {
  font-size: 2em;
}

.secondary-control {
  margin-top: 40px;
  font-size: 1.2em;
  padding: 0 25px;
}
