.header h1 {
  background-image:     url(/images/groupify.go-logo.png);
  background-position:  center;
  background-repeat:    no-repeat;
  background-size:      500px auto;

  display:      block;
  height:       100px;
  margin-top:   10px;
  text-align:   center;
  text-indent:  -4000px;
}

.now-playing h2 {
  text-align: center;
}

span.glyphicon-play {
  font-size: 4em;
}

span.glyphicon-step-forward, span.glyphicon-step-backward {
  font-size: 2em;
}

.secondary-control {
  margin-top:  40px;
  font-size:   1.2em;
  padding:     0 25px;
}

.fpo {
  color: red;
}

/* jm3 : spotify search test */

.search-box .input-group {
  margin-bottom: 20px;
}

.search-box input[type='submit'] {
  margin-bottom: 20px;
}

.cover {
  width:            108px;
  height:           108px;
  display:          inline-block;
  background-size:  cover;
}

.cover:hover {
  cursor: pointer;
}

.cover.playing {
  border: 5px solid #e45343;
}

.volume, .hell-ban {
  display: none;
}
