/* overrides */
img { display: inline; }

/* main */

th.artist_column {
  min-width: 200px;
}

.artist_name {
  font-weight: bold;
}

.track_name {
  font-weight: bold;
}

.header h1 {
  background-image:     url(/images/groupify.go-logo.png);
  background-position:  center;
  background-repeat:    no-repeat;
  background-size:      400px auto;

  display:      block;
  height:       100px;
  margin-top:   10px;
  text-align:   center;
  text-indent:  -4000px;
}

.now-playing h2 {
  text-align: center;
}

h2 {
  font-size:  22px;
  margin:     0;
}

span.glyphicon-play {
  font-size: 4em;
}

span.glyphicon-step-forward, span.glyphicon-step-backward {
  font-size: 2em;
}

.secondary-control {
  margin-top:  40px;
  font-size:   1.2em;
  padding:     0 25px;
}

.fpo {
  color: red;
}

/* jm3 : spotify search test */

.search-box .input-group {
  margin-bottom: 20px;
}

.search-box input[type='submit'] {
  margin-bottom: 20px;
}

.cover {
  width:            64px;
  height:           64px;
  background-size:  cover;
}

/*************** SEARCH RESULTS ******************/
.search-result {
  margin-bottom: 6px;
}

.search-result:hover {
  background-color: #eee;
  cursor: pointer;
}

.cover:hover {
  cursor: pointer;
}

.cover.playing {
  border: 5px solid #e45343;
}

.queue .avatar {
  height: 32px;
  width: 32px;
}

.volume , .playback-controls {
  display: none;
}
